body {
  background-image: linear-gradient(
    rgb(59, 88, 93), 
    rgb(29, 40, 42)
  );
  height: 100vh;
  color: white;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#below-cover {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.button{
  font-size: 1.5em;
}

.button-navigate{
  font-size: 3em;
}

.button-biggest{
  font-size: 4em;
}

#cover {
  width: 450px;
}
